# Виртуальное окружение
.venv/
venv/

# Конфиги IDE
.idea/
.vscode/

# Python кэш
__pycache__/
*.pyc
*.pyo
*.pyd

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# Тестовые/отчёты
.coverage
htmlcov/
.pytest_cache/

# Средства сборки
build/
dist/
*.egg-info/
